@import "../../styles/variables";

.breakingNews {
  .breakingNewsItem {
    background-color: $off-white;
    padding: 20px;
    margin-bottom: 20px;
    .header {
      background-color: $black-color;
      color: $white-color;
      font-weight: bold;
      padding: 5px 10px;
      font-size: 20px;
      margin-bottom: 20px;
    }
    .content {
      font-size: 18px;
      color: $black-color;
    }
  }
}
