.Homesection2 {
  padding: 4rem 0;
}
.Homesection2 h2,
.Homesection2 .title,
.HomeSectionPart2 h2,
.HomeSectionPart2 .cardBody h5 {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    right: -10px;
    top: 3px;
    height: 70%;
    width: 4px;
    background-color: #ac0000;
  }
}
.Homesection2 .card {
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    border-bottom: 5px solid #ac0000;
  }
}
/*===========================
Home_section_Part2
*============================*/
.HomeSectionPart2 {
  padding: 4rem 0;
}
p {
  line-height: 1.2;
}
