.Home-section2 {
  padding: 4rem 0;
}
.Home-section2 h2,
.Home-section2 .card-title,
.Home_section_Part2 h2,
.Home_section_Part2 .card-body h5 {
  position: relative;
}
.Home-section2 h2::before,
.Home-section2 .card-title::before,
.Home_section_Part2 h2::before,
.Home_section_Part2 .card-body h5::before {
  content: "";
  position: absolute;
  right: -10px;
  top: 3px;
  height: 70%;
  width: 4px;
  background-color: #ac0000;
}
.Home-section2 .card {
  transition: 0.3s;
}
.Home-section2 .card:hover {
  border-bottom: 5px solid #ac0000;
}

/*===========================
Home_section_Part2
*============================*/
.Home_section_Part2 {
  padding: 4rem 0;
}

p {
  line-height: 1.2;
}
