.sport h2 {
  position: relative;
}
.sport h2::before {
  content: "";
  position: absolute;
  right: -15px;
  top: 5px;
  height: 70%;
  width: 6px;
  background-color: #ac0000;
}
.singleNew {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 20%);
  }
  .content {
    position: absolute;
    bottom: 0;
    padding: 5px;

    h3 {
      padding: 5px;
      color: #ffff;
      font-weight: bold;
    }
  }
}
