@import "../../../styles/variables";
footer {
  background-color: #222023;
  background-image: linear-gradient(to bottom, #222023, #1e2c47);
  color: #fff;
  padding: 30px 0 0;
  .footerTop {
    h3 {
      font-size: 23px;
      font-weight: bold;
      letter-spacing: 1px;
      margin-bottom: 8px;
      span {
        color: $dark-red-color;
      }
    }
    h4 {
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 1px;
      display: inline-block;
      margin-bottom: 6px;
    }
    .menu {
      li {
        padding-left: 40px;
        position: relative;
        margin-bottom: 8px;
        font-size: 17px;
        a {
          color: $white-color;
          transition: $main-transition;
          &:hover {
            color: $dark-red-color;
          }
        }
      }
    }
    .banner {
      background-color: wheat;
    }
  }
}
